$coffee: #cf8d6c;

body {
  font-family: "Open Sans", sans-serif;
  background-color: $coffee;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-width: 90vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  border: 2px solid whitesmoke;
  border-bottom: 20px;
  font-size: 18px;
}

.hamburger {
  background-color: whitesmoke;
  width: 150px;
  height: 150px;
  position: absolute;
  margin-left: 85vw;
  margin-top: -50px;
}

.hamb-line {
  position: relative;
  display: block;
  width: 80px;
  height: 12px;
  margin-bottom: 15px;
  background-color: $coffee;
  margin-left: 22px;
  transform: translateY(42px);
}

.menu-container {
  display: flex;
  border: 1px solid lime;
  height: 0%;
}

.menu {
  padding: 40px;
  line-height: 3;
}

.morella {
  color: $coffee;
  background-color: whitesmoke;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  min-width: 90vw;
}
